html {
    scroll-behavior: smooth;
}

body {
    margin: 0;

    /* font-family: 'Forum', cursive;
    font-family: 'Roboto', sans-serif; */

    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 300;
    color: #000000;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

p {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

input {
    margin: 0;
}

/* --------- Container ---------*/

.container {
    width: 100%;
    max-width: 1440px;
    height: 100%;
    margin: 0 auto;

    position: relative;
}

.layout-2-columns {
    height: 100%;

    display: flex;
    justify-content: space-between;
}

.layout-3-columns {
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* .icon {
    border: none;
    cursor: pointer;
} */


/* --------- Header ---------*/

.header {
    background-color: #030303;
}

.header__inner {
    height: 150px;

    display: flex;
    justify-content: space-between;
    align-items: center;        
    color: #FFFFFF;
}

.logo {
    font-family: Forum;
    font-weight: normal;
    font-size: 28px;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 31px;
    letter-spacing: 5px;
    color: #FFFFFF;
}

.logo__icon {
    display: inline-block;
    width: 49px;
    height: 26px;
    margin-right: 15px;
    background-image: url(../assets/svg/museum-icon.svg);
}

.header__title {
    display: inline-block;

    all: unset;
}

/* --------- Navigation ---------*/

.header__nav {
    width: 775px;
}

.nav__list {
    display: flex;
    justify-content: space-between;
}

.nav__link {
    font-weight: 200;
    font-size: 22px;
    text-decoration: none;
    line-height: 26px;
    letter-spacing: 2px;
    color: #FFFFFF;

    transition: 0.2s;
}

.nav__link_active {
    color: #7E6C51;
}

.nav__link:hover {
    color: #9D8665;
}


/* --------- Welcome ---------*/

.welcome__section {
    width: 100%;
    height: 810px;

    background-color: #030303;
}

.welcome__background {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.welcome__gradient {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;

    background-image: linear-gradient(to right, #030303 60%, #030303d5 70%, rgba(238, 238, 238, 0) 100%);
}

.welcome__poster {
    width: 1000px;
    height: 750px;

    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;

    background-image: url(../assets/img/welcome-slider/1.jpg);
}

.welcome__content {
    width: 100%;
    max-width: 598px;
    height: 388px;
    margin-top: 150px;

    color: #FFFFFF;
    z-index: 5;
}

.welcome__title {
    margin-bottom: 25px;

    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 90px;

    letter-spacing: 5px;
    text-transform: uppercase;
}

.welcome__text {
    margin-bottom: 75px;

    font-weight: 300;
    font-size: 28px;
    line-height: 33px;
    letter-spacing: 2px;
}

.welcome__link-button {
    display: block;
    width: 360px;
    height: 75px;
    padding: 25px 40px;

    text-decoration: none;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2px;
    color: #FFFFFF;

    background: #710707;
    border-radius: 10px;

    transition: 0.3s;
}

.welcome__link-button:hover {
    background: #9D8665;
}

.welcome__slider {
    width: 100%;
    max-width: 600px;
    height: 120px;

    align-self: flex-end;

    background: #030303;
    z-index: 5;
}

/* --------- Welcome Slider  ---------*/

.slider {
    width: 100%;
    padding: 0 75px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 40px;    
    text-transform: uppercase;
    text-align: center;
    
    color: #FFFFFF;
}

.slider__num {
    width: 76px;
    height: 40px;

    display: flex;
}

.slider__num-now,
.slider__num-all {
    width: 25px;
    height: 40px;

    all: unset;
}

.slider__pagination {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0 25px;
}

.slider__pagination-item,
.slider__pagination-item_active {
    width: 16px;
    height: 16px;
}

.slider__pagination-item {
    background: url(../assets/svg/welcome-slider/slide-pagination.svg);
}

.slider__pagination-item_active {
    background: url(../assets/svg/welcome-slider/active-slide-pagination.svg);
}

.slider__controls {
    width: 80px;

    display: flex;
    justify-content: space-between;
}

.slider__button-left,
.slider__button-right {
    width: 30px;
    height: 8px;

    border: none;
    cursor: pointer;
}

.slider__button-left {
    background: url(../assets/svg/welcome-slider/left.svg);
}

.slider__button-right {
    background: url(../assets/svg/welcome-slider/right.svg);
}


/* --------- Main Sections ---------*/

.section {
    padding: 75px 0;
}

.section_dark {
    background: #030303;
}

.section__title {
    margin-bottom: 25px;

    font-family: Forum;
    font-weight: normal;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.section__title_gold {
    color: #9D8665;
}

.section__title_light {
    color: #FFFFFF;
}

.section__subtitle {
    margin-bottom: 50px;

    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
}

/* .section__subtitle_light {
    color: #FFFFFF;
} */

.section__strip {
    width: 100%;
    height: 3px;
    margin-bottom: 75px;

    background: #710707;
}

.section__text {
    margin-bottom: 25px;

    font-weight: 300;
    font-size: 22px;
    line-height: 38px;
}

.section__text_light {
    color: #FFFFFF;
}

.section__text span{
    color: #9D8665;
}


/* --------- Tour ---------*/

.tour {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 75px 60px;
}

.tour__card {
    width: 100%;
    max-width: 440px;
    height: 424px;
    /* margin-bottom: 75px; */
    display: block;

    text-decoration: none;
    color: #000000;
}

.tour__card:hover .tour__title::after {
    width: 100%;
}

.tour__img {
    width: 100%;
    max-width: 440px;
    height: auto;
    max-height: 285px;
    margin-bottom: 25px;
}

.tour__title {
    margin-bottom: 22px;

    font-family: Forum;
    font-weight: normal;
    font-size: 32px;
    line-height: 35px;
    letter-spacing: 5px;
    text-transform: uppercase;

    position: relative;
}

.tour__title::after {
    content: "";
    width: 300px;
    height: 2px;
    display: block;

    position: absolute;
    left: 0px;
    bottom: -10px;

    background: #710707;

    transition: 1s;
}

.tour__subtitle {
    padding-bottom: 10px;

    font-weight: 100;
    font-size: 22px;
    line-height: 26px;
}

.tour__text {
    font-weight: 100;
    font-size: 18px;
    line-height: 21px;
}


/* --------- Explore ---------*/

.explore__content {
    max-width: 660px;
    width: 100%;
    margin-right: 60px;
}

.explore__img {
    width: 100%;
    max-width: 720px;
    height: auto;
    max-height: 700px;
}

/* --------- Video---------*/

.video__content {
    max-width: 720px;
    width: 100%;
}

.video__player {
    margin-top: 75px;

    display: flex;
    flex-direction: column;
}

.video__preview {
    width: 100%;
    height: 650px;

    position: relative;

    background-image: url(../assets/img/video-posters/poster0.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.video__play-button {
    width: 220px;
    height: 220px;

    position: absolute;
    top: calc(50% - 110px);
    left: calc(50% - 110px);

    background: url(../assets/svg/play-button.svg);
    border: none;

    cursor: pointer;
}

.player-controls {
    width: 100%;
    height: 85px;

    background-color:  #000000;;
}

.player-controls__inner {
    width: 1380px;
    height: 100%;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.player-controls__play-button-small {
    width: 23px;
    height: 31px;

    background: url(../assets/svg/player-play-small.svg);
    border: none;

    cursor: pointer;
}

.player-controls__sound-button {
    width: 38px;
    height: 31px;

    background: url(../assets/svg/player-sound.svg);
    border: none;

    cursor: pointer;
}

.player-controls__fullscreen-button {
    width: 35px;
    height: 35px;

    background: url(../assets/svg/player-fullscreen.svg);
    border: none;

    cursor: pointer;
}

.player-controls__progress-bar {
    width: 929px;
    height: 15px;
    margin: 0 50px;
}

.player-controls__volume {
    width: 155px;
    margin: 0 50px;
}

.video__playlist {
    margin: 40px 0;

    display: flex;
    justify-content: space-between;
    gap: 0 45px;
}

.video__item{
    width: 100%;
    height: 254px;

    border: none;
}

.video-slider {
    width: 200px;
    height: 12px;
    margin: 0 auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.video-slider__pagination,
.video-slider__pagination_active {
    width: 12px;
    height: 12px;
}

.video-slider__pagination {
    background: url(../assets/svg/video-slider/ellipse.svg);
}

.video-slider__pagination_active {
    background: url(../assets/svg/video-slider/ellipse-active.svg);
}


.video-slider__button-left,
.video-slider__button-right {
    width: 10px;
    height: 12px;

    border: none;
    cursor: pointer;
}

.video-slider__button-left {
    background: url(../assets/svg/video-slider/video-slider-left.svg) no-repeat;
}

.video-slider__button-right {
    background: url(../assets/svg/video-slider/video-slider-right.svg) no-repeat;
}

/* --------- Gallery ---------*/

.gallery__section {
    width: 100%;
    height: 100%;
    padding-top: 75px;

    background-color: #030303;
}

.gallery-pictures {
    height: 2035px;
    margin-top: 75px;

    position: relative;

    z-index: 1;
    overflow-y: hidden;
}

.gallery-pictures__inner {
    column-count: 3;
    column-gap: 36px;
}

.gallery-pictures__image {
    max-width: 454px;
    margin-bottom: 24px;
}

.gallery-pictures__image:nth-child(1) {
    padding-top: 50px;
}

.gallery-pictures__image:nth-child(11) {
    padding-top: 50px;
}

.gallery__gradient {
    width: 100%;
    height: 360px;

    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;

    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
}


/* --------- Tickets ---------*/

.tickets__img {
    width: 100%;
    max-width: 720px;
    height: auto;
    max-height: 550px;
}

.tickets__content {
    width: 100%;

    display: flex;
    justify-content: space-between;
}

.ticket-type {
    width: 100%;
    max-width: 270px;
    margin-left: 60px;
}

/* ============================= */

/* 
.ticket-type__item {
    margin-top: 25px;
    display: block;

    line-height: 26px;

    cursor: pointer;
}

.ticket-type__type{
    display: block;
}

.ticket-type__type::before {
    content: '';
    display: inline-block;

    width: 17px;
    height: 17px;

    border: 2px solid #000000;
    border-radius: 50%;
}

.ticket-type__choice {
    border: 0; 
    clip: rect(0 0 0 0); 
    height: 1px; margin: -1px; 
    overflow: hidden; 
    padding: 0; 
    position: absolute; 
    width: 1px;
}

.ticket-type__choice:checked .ticket-type__type::before {
    background: #000000;
} */


/* ============================= */

.amount {
    width: 100%;
    max-width: 175px;
    margin-left: 80px;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    
}

.amount__tickets {
    width: 150px;
    margin-top: -25px;
    margin-bottom: 52px;
}

.amount__total {
    margin-top: 50px;

    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    letter-spacing: 1.65px;
}

.amount__total::after{
    content: "220";
    display: inline-block;
}

.amount__calc {
    /* width: 150px; */
    width: 100%;
    height: 50px;
    margin-bottom: 10px;

    display: flex;
    justify-content: space-between;

    border: 3px solid #000000; 
}

.amount__button {
    font-size: 32px;
    line-height: 37px;
    /* padding: 0 14px; */

    border: 0;

    cursor: pointer;
}

.amount__value {
    all: unset;
    text-align: center;
}

.amount__tickets-age {
    margin-bottom: 15px;
    display: block;
}

/* --------- Button ---------*/

.button {
    display: inline-block;
    padding: 10px 30px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2px;
    color: #FFFFFF;

    border: 0;

    cursor: pointer;
}

.button_dark {
    background: #000000;
    border-radius: 2px;

    transition: 0.3s;
}

.button_dark:hover {
    background: #9D8665;
}

.button_block {
    height: 50px;
    width: 100%;
}

/* --------- Parallax ---------*/

.parallax {
    width: 100%;
    height: 400px;

    background-image: url(../assets/img/parallax.jpg);
    background-size: cover;
    background-attachment: fixed;
}

/* --------- Contacts ---------*/

.contacts__content{
    width: 282px;
}

.contacts__item {
    margin-bottom: 25px;
}

.contacts__link {
    font-weight: 300;
    font-size: 22px;
    text-decoration: none;
    line-height: 26px;
    color: #000000;

    transition: 0.2s;
}

.contacts__link:hover {
    color: #9D8665;
}

.contacts__map {
    width: 100%;
    max-width: 960px;
    height: auto;
    max-height: 620px;
}


/* --------- Footer ---------*/

.footer {
    background-color: #030303;
}

.footer__content {
    width: 100%;
    height: 265px;
    padding: 86px 0 50px 0;
}

.footer__logo {
    margin-right: 145px;
}

.footer__nav {
    width: 363px;
    height: 128px;

    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between
}

.footer__nav-item {
    height: 33.3%;
}

.footer__contacts {
    width: 340px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.footer__strip {
    width: 100%;
    height: 3px;

    background: #666666;
}

.footer__info {
    width: 100%;
    height: 124px;

    font-weight: 100;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 2px;
    color: #FFFFFF;
}

.contacts__item_icon {
    margin: 0;

    border: 1px solid #666666;
    border-radius: 50%;
    cursor: pointer;
}

.contacts__item_icon:hover {
    border-color: #9D8665;
}

.icon-round {
    display: block;
    width: 48px;
    height: 48px;
}

.icon-round_youtube {
    background: url(../assets/svg/contacts/icon-youtube.svg);
}

.icon-round_youtube:hover {
    background: url(../assets/svg/contacts/icon-youtube-gold.svg);
}

.icon-round_instagram {
    background: url(../assets/svg/contacts/icon-instagram.svg);
}

.icon-round_instagram:hover {
    background: url(../assets/svg/contacts/icon-instagram-gold.svg);
}

.icon-round_facebook {
    background: url(../assets/svg/contacts/icon-facebook.svg);
}

.icon-round_facebook:hover {
    background: url(../assets/svg/contacts/icon-facebook-gold.svg);
}

.icon-round_twitter {
    background: url(../assets/svg/contacts/icon-twitter.svg);
}

.icon-round_twitter:hover {
    background: url(../assets/svg/contacts/icon-twitter-gold.svg);
}

.icon-round_pinterest {
    background: url(../assets/svg/contacts/icon-pinterest.svg);
}

.icon-round_pinterest:hover {
    background: url(../assets/svg/contacts/icon-pinterest-gold.svg);
}
