html {
    scroll-behavior: smooth;
}

body {
    margin: 0;

    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 300;
    color: #000000;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

p {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

input {
    margin: 0;
}

/* --------- Container ---------*/

.container {
    width: 100%;
    max-width: 1440px;
    height: 100%;
    margin: 0 auto;

    position: relative;
}

.layout-2-columns {
    height: 100%;

    display: flex;
    justify-content: space-between;
}

.layout-3-columns {
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon {
    border: none;
    cursor: pointer;
}


/* --------- Header ---------*/

.header {
    background-color: #030303;
}

.header__inner {
    height: 150px;

    display: flex;
    justify-content: space-between;
    align-items: center;        
    color: #FFFFFF;
}

.logo {
    font-family: Forum;
    font-weight: normal;
    font-size: 28px;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 31px;
    letter-spacing: 5px;
    color: #FFFFFF;
}

.logo__icon {
    display: inline-block;
    width: 49px;
    height: 26px;
    margin-right: 13px;
    background-image: url(../assets/svg/museum-icon.svg);
}

.header__title {
    display: inline-block;

    all: unset;
}

/* --------- Navigation ---------*/

.header__nav {
    width: 775px;
}

.nav__list {
    display: flex;
    justify-content: space-between;
}

.nav__link {
    font-weight: 200;
    font-size: 22px;
    text-decoration: none;
    line-height: 26px;
    letter-spacing: 2px;
    color: #FFFFFF;

    transition: 0.2s;
}

.nav__link_active {
    color: #7E6C51;
}

.nav__link:hover {
    color: #9D8665;
}


/* --------- Welcome ---------*/

.welcome__section {
    width: 100%;
    height: 810px;

    background-color: #030303;
}

.welcome__poster {
    width: 1000px;
    height: 750px;

    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;

    background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0.5) 16.19%, rgba(0, 0, 0, 0) 30.73%), url(../assets/img/welcome-slider/1.jpg);
}


.welcome__content {
    width: 100%;
    max-width: 598px;
    height: 388px;
    margin-top: 150px;

    color: #FFFFFF;
    z-index: 5;
}

.welcome__title {
    margin-bottom: 25px;

    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 90px;

    letter-spacing: 5px;
    text-transform: uppercase;
}

.welcome__text {
    margin-bottom: 75px;

    font-weight: 300;
    font-size: 28px;
    line-height: 33px;
    letter-spacing: 2px;
}

.welcome__link-button {
    display: block;
    width: 360px;
    height: 75px;
    padding: 25px 40px;

    text-decoration: none;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2px;
    color: #FFFFFF;

    background: #710707;
    border-radius: 10px;

    transition: 0.3s;
}

.welcome__link-button:hover {
    background: #9D8665;
}

.welcome__slider {
    width: 100%;
    max-width: 600px;
    height: 120px;

    align-self: flex-end;

    background: #030303;
    z-index: 5;
}

/* --------- Welcome Slider  ---------*/

.slider {
    width: 100%;
    padding: 0 75px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 40px;    
    text-transform: uppercase;
    text-align: center;
    
    color: #FFFFFF;
}

.slider__num {
    width: 76px;
    height: 40px;

    display: flex;
}

.slider__num-now,
.slider__num-all {
    width: 25px;

    height: 40px;
    /* padding: 0 0 0 5px; */

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    text-align: center;
    line-height: 40px;
    text-transform: uppercase;
    color: #ffffff;

    /* border: none;
    background-color: #030303; */
}

.slider__num-delim {
    margin-left: 10px;
    margin-right: 10px;
}

.slider__pagination {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0 25px;
}

.slider__pagination-item {
    width: 16px;
    height: 16px;

    cursor: pointer;
}

.slider__pagination-item {
    background: url(../assets/svg/welcome-slider/slide-pagination.svg);
}

.slider__pagination-item_active {
    background: url(../assets/svg/welcome-slider/active-slide-pagination.svg);
}

.slider__pagination-item:hover{
    background: url(../assets/svg/welcome-slider/slide-pagination-hover.svg);
}

.slider__controls {
    width: 80px;

    display: flex;
    justify-content: space-between;
}

.slider__button-left,
.slider__button-right {
    width: 30px;
    height: 8px;

    border: none;
    cursor: pointer;
}

.slider__button-left {
    background: url(../assets/svg/welcome-slider/left.svg);
}

.slider__button-left:hover {
    background: url(../assets/svg/welcome-slider/left-hover.svg);
}

.slider__button-right {
    background: url(../assets/svg/welcome-slider/right.svg);
}

.slider__button-right:hover {
    background: url(../assets/svg/welcome-slider/right-hover.svg);
}


/* --------- Main Sections ---------*/

.section {
    padding: 75px 0;
}

.section_dark {
    background: #030303;
}

.section__title {
    margin-bottom: 25px;

    font-family: Forum;
    font-weight: normal;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.section__title_gold {
    color: #9D8665;
}

.section__title_light {
    color: #FFFFFF;
}

.section__subtitle {
    margin-bottom: 50px;

    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
}

/* .section__subtitle_light {
    color: #FFFFFF;
} */

.section__strip {
    width: 100%;
    height: 3px;
    margin-bottom: 75px;

    background: #710707;
}

.section__text {
    margin-bottom: 25px;

    font-weight: 300;
    font-size: 22px;
    line-height: 38px;
}

.section__text_light {
    color: #FFFFFF;
}

.section__text span{
    color: #9D8665;
}


/* --------- Tour ---------*/

.tour {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 75px 60px;
}

.tour__card {
    width: 100%;
    max-width: 440px;
    height: 424px;
    display: block;

    text-decoration: none;
    color: #000000;
}

.tour__card:hover .tour__title::after {
    width: 100%;
}

.tour__card:hover .tour__title {
    color: #9D8665;
}

.tour__img {
    width: 100%;
    max-width: 440px;
    height: auto;
    max-height: 285px;
    margin-bottom: 25px;
}

.tour__title {
    margin-bottom: 22px;

    font-family: Forum;
    font-weight: normal;
    font-size: 32px;
    line-height: 35px;
    letter-spacing: 5px;
    text-transform: uppercase;

    position: relative;
}

.tour__title::after {
    content: "";
    width: 300px;
    height: 2px;
    display: block;

    position: absolute;
    left: 0px;
    bottom: -12px;

    background: #710707;

    transition: 1s;
}

.tour__subtitle {
    padding-bottom: 10px;

    font-weight: 100;
    font-size: 22px;
    line-height: 26px;
}

.tour__text {
    font-weight: 100;
    font-size: 18px;
    line-height: 21px;
}


/* --------- Explore ---------*/

.explore__content {
    max-width: 660px;
    width: 100%;
    margin-right: 60px;
}

.explore__slider {
    margin-top: 15px;
    position: relative;
}

.picture-slider__img-after {
    width: 100%;
    max-width: 720px;
    height: 700px;

}

.picture-slider__img-before {
    width: 440px;
    height: 700px;

    position: absolute;
    top: 0;
    left: 0;

    z-index: 1;
}

.picture-slider__slider {
    width: 39px;
    height: 700px;

    position: absolute;
    top: 0;
    left: 421px;

    background: url(../assets/svg/explore-slider/explore-slider.svg);
    z-index: 2;

    cursor: pointer;
}

.picture-slider__slider:hover {
    background: url(../assets/svg/explore-slider/explore-slider-hover.svg);
    
}

/* --------- Video---------*/

.video__content {
    max-width: 720px;
    width: 100%;
}

.video__text {
    padding-top: 7px;
}

.video__player {
    margin-top: 50px;

    display: flex;
    flex-direction: column;
}

.video__preview {
    width: 100%;
    height: 650px;

    position: relative;

    background-image: url(../assets/img/video-posters/poster0.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.video__play-button {
    width: 220px;
    height: 220px;

    position: absolute;
    top: calc(50% - 110px);
    left: calc(50% - 110px);

    background: url(../assets/svg/player/play-button.svg);
    border: none;

    cursor: pointer;
}

.video__play-button:hover {
    opacity: 0.7;
}

.player-controls {
    width: 100%;
    height: 85px;

    background-color:  #000000;;
}

.player-controls__inner {
    width: 1380px;
    height: 100%;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.player-controls__play-button-small {
    width: 23px;
    height: 31px;

    background: url(../assets/svg/player/player-play-small.svg);
    border: none;

    cursor: pointer;
}

.player-controls__play-button-small:hover {
    background: url(../assets/svg/player/player-play-small-hover.svg);
}

.player-controls__sound-button {
    width: 38px;
    height: 31px;

    background: url(../assets/svg/player/player-sound.svg);
    border: none;

    cursor: pointer;
}

.player-controls__sound-button {
    background: url(../assets/svg/player/player-sound-hover.svg);
}

.player-controls__fullscreen-button {
    width: 35px;
    height: 35px;

    background: url(../assets/svg/player/player-fullscreen.svg);
    border: none;

    cursor: pointer;
}

.player-controls__fullscreen-button {
    background: url(../assets/svg/player/player-fullscreen-hover.svg);
}

.player-controls__progress-bar {
    width: 929px;
    height: 15px;
    margin: 0 50px;

    cursor: pointer;
}

.player-controls__volume {
    width: 155px;
    margin: 0 50px;

    cursor: pointer;
}

.video__playlist {
    margin: 40px 0;

    display: flex;
    justify-content: space-between;
    gap: 0 45px;
}

.video__item{
    width: 100%;
    height: 254px;

    border: none;
}

.video-slider {
    width: 200px;
    height: 12px;
    margin: 0 auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.video-slider__pagination {
    width: 12px;
    height: 12px;

    cursor: pointer;
}

.video-slider__pagination {
    background: url(../assets/svg/video-slider/ellipse.svg);
}

.video-slider__pagination_active {
    background: url(../assets/svg/video-slider/ellipse-active.svg);
}

.video-slider__pagination:hover {
    background: url(../assets/svg/video-slider/ellipse-active-hover.svg);
}

.video-slider__button-left,
.video-slider__button-right {
    width: 10px;
    height: 12px;

    border: none;
    cursor: pointer;
}

.video-slider__button-left {
    background: url(../assets/svg/video-slider/video-slider-left.svg) no-repeat;
}

.video-slider__button-left:hover {
    background: url(../assets/svg/video-slider/video-slider-left-hover.svg) no-repeat;
}

.video-slider__button-right {
    background: url(../assets/svg/video-slider/video-slider-right.svg) no-repeat;
}

.video-slider__button-right:hover {
    background: url(../assets/svg/video-slider/video-slider-right-hover.svg) no-repeat;
}


/* --------- Gallery ---------*/

.gallery__section {
    width: 100%;
    height: 100%;
    padding-top: 75px;

    background-color: #030303;
}

.gallery-pictures {
    height: 1960px;
    margin-top: 75px;

    position: relative;

    z-index: 1;
    overflow-y: hidden;
}

.gallery-pictures__inner {
    column-count: 3;
    column-gap: 36px;
}

.gallery-pictures__image {
    max-width: 454px;
    margin-bottom: 24px;
}

.gallery-pictures__image:nth-child(1) {
    padding-top: 50px;
}

.gallery-pictures__image:nth-child(11) {
    padding-top: 50px;
}

.gallery__gradient {
    width: 100%;
    height: 360px;

    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;

    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
}


/* --------- Tickets ---------*/

.tickets__img {
    width: 100%;
    max-width: 720px;
    height: auto;
    max-height: 550px;
}

.tickets__content {
    width: 100%;

    display: flex;
    justify-content: space-between;
}

.ticket-type {
    width: 100%;
    max-width: 270px;
    margin-left: 60px;
}


.ticket-type__item {
    margin-bottom: 25px;
}

.ticket-type__choice {
    display: none;
}

.ticket-type__label::before{
	content: "";
	display: inline-block;
	width: 17px;
	height: 17px;

	position: absolute;
    top: 5px;
	left: 0;

	background: url(../assets/svg/form/radio.svg) no-repeat;
}

.ticket-type__choice:checked + .ticket-type__label::before{
	background: url(../assets/svg/form/radio-checked.svg) no-repeat;
}

.ticket-type__label {
    padding-left: 40px;
    position: relative;

    cursor: pointer;
}

.ticket-type__label:hover {
    color: #9D8665;
}

.amount {
    width: 100%;
    max-width: 175px;
    margin-left: 80px;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.amount__tickets {
    width: 150px;
    margin-top: -25px;
    margin-bottom: 57px;
}

.amount__total {
    margin-top: 50px;

    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    letter-spacing: 1.65px;
}

.amount__total::after{
    content: "220";
    display: inline-block;

    margin-left: -2px;
}

.amount__calc {
    width: 150px;
    height: 50px;
    margin-bottom: 10px;

    display: flex;
    justify-content: space-between;

    border: 3px solid #000000; 
}

.amount__button {
    width: 50px;
    height: 100%;
    padding: 0;

    font-size: 32px;
    line-height: 37px;

    background-color: #fff;
    border: 0;
    cursor: pointer;
}

.amount__button:hover {
    color: #9D8665;
}

.amount__value {
    width: 50px;
    padding-left: 12px;

    text-align: center;
    border: none;

    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
}

.amount__tickets-age {
    margin-bottom: 15px;
    display: block;
}

/* --------- Button ---------*/

.button {
    display: inline-block;
    padding: 10px 30px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2px;
    color: #FFFFFF;

    border: 0;

    cursor: pointer;
}

.button_dark {
    background: #000000;
    border-radius: 2px;

    transition: 0.3s;
}

.button_dark:hover {
    background: #9D8665;
}

.button_block {
    height: 50px;
    width: 100%;
}

/* --------- Parallax ---------*/

.parallax {
    width: 100%;
    height: 400px;

    background-image: url(../assets/img/parallax.jpg);
    background-size: cover;
    background-attachment: fixed;
}

/* --------- Contacts ---------*/

.contacts__content{
    width: 282px;
}

.contacts__item {
    margin-bottom: 25px;
}

.contacts__link {
    font-weight: 300;
    font-size: 22px;
    text-decoration: none;
    line-height: 26px;
    color: #000000;

    transition: 0.2s;
}

.contacts__link:hover {
    color: #9D8665;
}

.contacts__map {
    width: 100%;
    max-width: 960px;
    height: auto;
    max-height: 620px;
}


/* --------- Footer ---------*/

.footer {
    background-color: #030303;
}

.footer__content {
    width: 100%;
    height: 265px;
    padding: 85px 0 50px 0;

}

.footer__logo {
    margin-right: 150px;
}

.footer__nav {
    display: inline-block;
    width: 363px;
    height: 135px;

    column-count: 2;
    column-gap: 150px;
}

.footer__nav-item {
    margin-bottom: 25px;
}

.footer__contacts {
    width: 340px;
    margin-bottom: 5px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.footer__strip {
    width: 100%;
    height: 3px;

    background: #666666;
}

.footer__info {
    width: 100%;
    height: 124px;

    font-weight: 100;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 2px;
    color: #FFFFFF;
}

.contacts__item_icon {
    margin: 0;

    border: 1px solid #666666;
    border-radius: 50%;
    cursor: pointer;
}

.contacts__item_icon:hover {
    border-color: #9D8665;
}

.icon-round {
    display: block;
    width: 48px;
    height: 48px;
}

.icon-round_youtube {
    background: url(../assets/svg/contacts/icon-youtube.svg);
}

.icon-round_youtube:hover {
    background: url(../assets/svg/contacts/icon-youtube-gold.svg);
}

.icon-round_instagram {
    background: url(../assets/svg/contacts/icon-instagram.svg);
}

.icon-round_instagram:hover {
    background: url(../assets/svg/contacts/icon-instagram-gold.svg);
}

.icon-round_facebook {
    background: url(../assets/svg/contacts/icon-facebook.svg);
}

.icon-round_facebook:hover {
    background: url(../assets/svg/contacts/icon-facebook-gold.svg);
}

.icon-round_twitter {
    background: url(../assets/svg/contacts/icon-twitter.svg);
}

.icon-round_twitter:hover {
    background: url(../assets/svg/contacts/icon-twitter-gold.svg);
}

.icon-round_pinterest {
    background: url(../assets/svg/contacts/icon-pinterest.svg);
}

.icon-round_pinterest:hover {
    background: url(../assets/svg/contacts/icon-pinterest-gold.svg);
}


.footer__github {
    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 2px;
    text-decoration: none;
    color: #FFFFFF;
}

.footer__github:hover {
    color: #9D8665;
}

/* --------- Modal Form ---------*/

.modal {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0;
    left: -100%;

    background-color: rgba(0, 0, 0, 0.747);
    z-index: 20;

    transition: 1s ease-in-out;;
}

.modal.show {
    /* display: flex; */
    left: 0;
}

.modal__inner {
    width: 1440px;
    height: 845px;

    position: relative;

    background: #FFFFFF;
    z-index: 400;
}

.modal__content {
    width: 970px;
    height: 663px;
    margin: 0 auto;
    padding: 91px 0;
}

.form__left-col {
    width: 400px;

    display: flex;
    flex-direction: column;
}

.form__header {
    margin-bottom: 60px;

    border-bottom: #740C11 2px solid;
    opacity: 0.9;;
}

.form__logo {
    width: 85px;
    height: 41px;

    background: url(../assets/svg/form/form-logo.svg);
}

.form__title {
    margin-bottom: 15px;

    font-family: Forum;
    font-weight: normal;
    font-size: 50px;
    line-height: 55px;
    text-transform: uppercase;
    color: #9D8665;
}

.form__subtitle {
    margin-bottom: 10px;

    font-family: Roboto;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #710707;
}

.form__group {
    position: relative;

    display: flex;
    justify-content: space-between;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #030303;
}

.form__input {
    width: 100%;
    height: 45px;
    margin-bottom: 20px;

    position: relative;
    
    border: 1px solid #030303;
}

.form__input::placeholder {
    color: #030303;
}

.from__input_date,
.form__input_time,
.form__input_name,
.form__input_mail,
.form__input_phone,
.form__select-ticket {
    padding: 12px 45px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #030303;
}

.form__input_date,
.form__input_time {
    width: 190px;
}

.form__input_date::-webkit-calendar-picker-indicator {
    opacity: 0;
}

.form__input_date::-webkit-datetime-edit,
.form__input_time::-webkit-datetime-edit {
    color: transparent;
}

.form__input_date-text {
    position: absolute;
    top: 13px;
    left: 45px;
}

.form__input_time-text {
    position: absolute;
    top: 13px;
    left: 260px;
}

.form__input_date::before {
    content: '';
    width: 15px;
    height: 15px;
    top: 14px;
    left: 15px; 
    display: inline-block;

    position: absolute;

    background: url(../assets/svg/form/date.svg)  no-repeat;
}

.form__input_time {
    background: url(../assets/svg/form/time.svg) left 15px center no-repeat;
}

.form__input_name {
    background: url(../assets/svg/form/name.svg) left 15px center no-repeat;
}

.form__input_mail {
    background: url(../assets/svg/form/email.svg) left 15px center no-repeat;
}

.form__input_phone {
    background: url(../assets/svg/form/tel.svg) left 15px center no-repeat;
}

.form__select-ticket {
    background: url(../assets/svg/form/ticket-type.svg) left 15px center no-repeat;
}

.form__select-ticket {
    -webkit-appearance:none;
}

.form__select-wrapper {
    position: relative;
}

.form__input_date::after,
.form__input_time::after,
.form__select-wrapper::after {
    content: '';
    width: 17px;
    height: 17px;
    top: 14px;
    right: 15px; 
    display: inline-block;

    position: absolute;

    background: url(../assets/svg/form/arrow.svg) no-repeat;
}

.form__tickets {
    width: 100%;
    height: 135px;
    padding: 10px 15px 15px 15px;
    border: 1px solid #030303;
    box-sizing: border-box;
}

.form__tickets-info {
    position: relative;

    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    text-transform: capitalize;
    color: #9D8665;
}

.form__tickets-info::after {
    content: "";
    width: 100%;
    height: 2px;
    display: block;

    position: absolute;
    bottom: -5px;
    left: 0;

    background: #740C11;
    opacity: 0.9;
}

.form__tickets-details {
    width: 100%;
    height: 25px;
    margin-top: 19px;
}

.form__tickets-age {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #030303;    
}

.form__tickets-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form__tickets-value-choose {
    width: 105px;
    height: 25px;

    display: flex;
    justify-content: center;

    border: 1px solid #000000; 
}

.form__tickets-button {
    width: 35px;
    height: 100%;
    font-size: 19px;
    line-height: 25px;
    padding: 0 12px;

    border: 0;

    cursor: pointer;
    color: white;
    background: #000;
}

.form__tickets-value {
    width: 35px;
    padding-left: 12px;

    text-align: center;
    border: none;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #030303;
}

.form__right-col {
    width: 530px;
    padding: 25px 30px;

    display: flex;
    flex-direction: column;

    border: 1px solid #030303;
}

.form__overview {
    margin-bottom: 10px;

    position: relative;
}

.form__overview-title {
    margin-bottom: 2px;

    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
    color: #272727;
}

.form__overview-subtitle {
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    color: #740C11;
    
    opacity: 0.9;
}

.form__overview-date,
.form__overview-time,
.form__overview-ticket {
    margin-bottom: 5px;

    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    color: #030303;
}

.form__overview-date::before {
    content: "";
    width: 15px;
    height: 15px;
    margin-right: 15px;

    display: inline-block;

    background: url(../assets/svg/form/date.svg);
}

.form__overview-time::before {
    content: "";
    width: 15px;
    height: 15px;
    margin-right: 15px;

    display: inline-block;

    background: url(../assets/svg/form/time.svg);
}

.form__overview-ticket::before {
    content: "";
    width: 15px;
    height: 15px;
    margin-right: 15px;

    display: inline-block;

    background: url(../assets/svg/form/check.svg);
}

.form__overview-image {
    width: 150px;
    height: 120px;

    position: absolute;
    top: 0;
    right: 0;

    background: url(../assets/img/form-overview-img.jpg);
}

.form__cost-info {
    width: 100%;
    height: 117px;
    margin-top: 22px;
    margin-bottom: 3px;
}

.form__cost-details {
    margin-bottom: 5px;

    display: flex;
    justify-content: space-between;
}

.form__cost-basic::before,
.form__cost-senior::before {
    content: "";
    width: 32px;
    height: 20px;
    margin-right: 10px;

    display: inline-block;
}

.form__cost-basic::before {
    background: url(../assets/svg/form/tickets-value.svg);
}

.form__cost-senior::before {
    background: url(../assets/svg/form/tickets-value.svg);
}

.form__total-info{
    width: 100%;
    height: 48px;
    margin-top: 9px;
    padding-top: 9px;

    display: flex;
    justify-content: space-between;

    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 37px;
    color: #030303;

    border-top: 2px solid #740C11;;
}

.form__cost-total-price {
    font-weight: 500;
}

.card {
    width: 100%;
    height: 241px;

    position: relative;

    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
}

.card__frontside,
.card__backside {
    width: 360px;
    height: 211px;
}

.card__frontside {
    padding: 15px 20px;

    position: absolute;
    top: 0;
    left: 0;

    background: #BCBCBC;
    z-index: 2;
}

.card__frontside-inner {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.card__frontside-left-col {
    width: 215px;
}

.card__frontside-visa {
    width: 55px;
    height: 16px;
    margin-top: 19px;

    background: url(../assets/svg/form/Visa.svg);
}

.card__frontside-mastercard {
    width: 53px;
    height: 32px;
    margin-top: 15px;

    background: url(../assets/svg/form/Mastercard.svg);
}

.card__frontside-text {
    display: block;

    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #161615;
}

.card__frontside-number,
.card__frontside-name  {
    display: block;
}

.card__frontside-number,
.card__frontside-month,
.card__frontside-year,
.card__frontside-name {
    height: 35px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.card__frontside-number,
.card__frontside-name {
    width: 100%;
}

.card__frontside-month,
.card__frontside-year {
    width: 100px;
}

.card__backside {
    padding: 25px 0 15px;

    position: absolute;
    bottom: 0;
    right: 0;

    background: #939393;
    z-index: 1;
}

.card__backside-magnet {
    width: 100%;
    height: 45px;
    margin-bottom: 15px;

    background: #161615;
}

.card__backside-content {
    width: 75px;
    height: 110px;
    margin-top: 15px;
    margin-left: 265px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.card__backside-code {
    width: 100%;
    height: 30px;
}
.card__backside-help {
    width: 55px;
    height: 50px;

    font-size: 10px;
    line-height: 12px;
}

.form__button {
    width: 220px;
    height: 45px;
    margin-top: 26px;

    float: right;

    background: #710707;
    opacity: 0.9;
}

.modal__close {
    width: 25px;
    height: 25px;
    padding: 0;

    position: absolute;
    top: 30px;
    right: 30px;

    background: url(../assets/svg/form/form-close.svg);
    border: none;

    transition: 0.5s;
}

.modal__close:hover {
    transform: rotate(180deg);
}
